@{
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<h1>Agregar Empleado</h1>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form method="POST" asp-action="AgregarEmpleado" asp-controller="Admin">
            <div class="form-group">
                <label for="titulo">Nombre</label>
                <input class="form-control" type="text" name="nombreCompleto" placeholder="Ingrese su nombre completo" required /><br/>


                <label for="cuerpo">Email</label>
                <input class="form-control" type="text" name="email" placeholder="Ingrese su email" required /><br/>

                <label for="cuerpo">Edad</label>
                <input class="form-control" type="text" name="edad" placeholder="Ingrese su edad" required /><br/>

                Género:
                    <select name="sexo">
                        <option>Masculino</option>
                        <option>Femenino</option>
                    </select><br/><br/>

                Puesto:
                    <select name="puesto">
                        <option>Desarrollador Trainee</option>
                        <option>Desarrollador Junior</option>
                        <option>Desarrollador Fullstack</option>
                        <option>Desarrollador Senior</option>
                        <option>Desarrollador Ssr</option>
                        <option>QA Tester</option>
                    </select><br/><br/>

                <label for="cuerpo">Sueldo</label>
                <input class="form-control" type="text" name="sueldo" placeholder="Ingrese su sueldo" required /><br/>

                <button class="btn btn-success" type="submit" > Agregar </button>
                
            </div>
        </form>
       
    </div>
</div>