@{
    bool errorEnLogin = ViewBag.ErrorEnLoginAdmin != null;  
    Layout = "~/Views/Shared/_LayoutLoginRegister.cshtml";
}
<h1>Iniciar Sesion como Administrador</h1>
<div class="container-fluid">
    <div class="row">
        <div class="columnaIzquierda col-md-6 col-sm-12">
            <img class="foto-login" src="~/images/fotoLogin.jpg" />
        </div>
        <div class="columnaDerecha col-md-4 col-sm-12">
                <form method="POST" class="form-login" asp-action="AdminAccount" asp-controller="Login">
                    <h1 class="titulo-login">EmpresaIT</h1>
                    <div class="form-group">
                        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-envelope-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M.05 3.555A2 2 0 0 1 2 2h12a2 2 0 0 1 1.95 1.555L8 8.414.05 3.555zM0 4.697v7.104l5.803-3.558L0 4.697zM6.761 8.83l-6.57 4.027A2 2 0 0 0 2 14h12a2 2 0 0 0 1.808-1.144l-6.57-4.027L8 9.586l-1.239-.757zm3.436-.586L16 11.801V4.697l-5.803 3.546z"/>
                        </svg>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Ingresa el email de la empresa" required>
                    </div>
                    <div class="form-group">
                        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"/>
                            <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
                            <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"/>
                        </svg>
                        <input type="text" class="form-control" id="password" name="nombre" placeholder="Ingresa el nombre de la empresa" required>
                    </div>
                    @if(errorEnLogin){
                        <div class="alert alert-danger" role="alert">
                            El email y/o nombre no son válidos.
                        </div>
                    }

                    <button type="submit" class="botonLogin btn btn-primary">Iniciar Sesion</button><br/><br/><hr>
                    <p>No tienes cuenta ?</p>
                    <a type="text" class="btn btn-link" asp-controller="Register" asp-action="Register">Registrar</a>
                </form>
                <a href="/Home/Index">Volver a Home</a>
        </div>
    </div>
</div>
