@model IEnumerable<EmpresaIT.Models.Empleado>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Empleados</h1>
    <a class="btn btn-success" asp-controller="Home" asp-action="AgregarEmpleado" >Agregar Empleado</a>
</div>
    <div class="container-fluid">
            <div class="row">
                @foreach (var item in Model) {
                    <div class="card col-md-3 col-sm-12 text-center">
                        <div class="imagenCardEmpleado">
                            <img src="~/images/empleado.jpg" class="card-img-top"/>
                        </div>

                        <div class="nombreEmpl">
                           @item.NombreCompleto
                        </div>

                        <div class="puestoEmpl">
                            @item.PuestoDeTrabajo
                        </div>

                        <div class="button">
                        <a asp-controller="Home" class="btn btn-info" asp-action="Empleado" asp-route-id=@item.ID>Ver empleado</a>
                        </div>
                    
                    </div>
                }
         </div>
    </div>
</div>
