@model IEnumerable<EmpresaIT.Models.Empleado>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Empleados</h1>
</div>
    <div class="container-fluid">
            <div class="row">
                @foreach (var item in Model) {
                    <div class="card col-md-3 col-sm-12 text-center">
                        <div class="imagenEmpleado">
                            <img src="empleado.jpg" class="card-img-top"/>
                        </div>

                        <div class="nombreEmpleado">
                           @item.NombreCompleto
                        </div>

                        <div class="puestoEmpleado">
                            @item.PuestoDeTrabajo
                        </div>

                        <div class="button">
                            <a href="#" class="btn btn-primary">Ver empleado</a>
                        </div>
                    </div>
                }
         </div>
    </div>
</div>
